*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
}

.Header{
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin

}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;

}



.header p {
    font-size: 18px;
}


.card {
    background-color: white;
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
    text-align: center;
    color: #1e3c72;
    margin-bottom: 10px;
}

.card hr {
    margin: 10px 0 20px;
    border: none;
    height: 2px;
    background-color: #ddd;
}

.card p {
    margin-bottom: 10px;
    font-size: 16px;
}


.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 8px;
    font-size: 16px;
}


.center {
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    background-color: #1e3c72;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #16325c;
}


.footer {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}